@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

/* General reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-size: 62.5%;
  font-size: 10px;
}
.glass-effect {
  background: rgba(255, 255, 255, 0.2); /* Semi-transparent white */
  border-radius: 15px;
  padding: 20px;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Light shadow */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Light border */
  backdrop-filter: blur(10px); /* The frosted glass effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari */
}

.app{
  width: 100%; /* Full width for smaller screens */
  height: 80vh;
  max-width: 1200px; /* Set a maximum width for larger screens */
  margin: 0 auto; /* Center the container */
  padding: 20px 20px; /* Add padding to prevent content from touching the edges */
}

/* Header and Navbar styling */
.header {
  width: 100%;
  padding: 15px 20px;
  background: linear-gradient(90deg, #4e54c8, #8f94fb);
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: flex;
  gap: 20px;
}

.nav-link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

.nav-link.active {
  color: white;
}

.nav-link.active::after {
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.nav-link:hover {
  color: white;
}

/* Search input styling */
.search-container {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5px 15px;
  border-radius: 25px;
}

.search-input {
  border: none;
  background: none;
  color: white;
  font-size: 16px;
  outline: none;
  width: 150px;
}

.search-input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}


/* Popular Movies Grid Section */
.popular-movies-grid {
  margin-top: 50px;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.movie-card {
  background-color: #333;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  transition: transform 0.3s;
}

.movie-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  transition: transform 0.2s ease;
}

.movie-card:hover {
  transform: scale(1.05);
}

/* Top Rated Slider Section */
.top-rated-slider {
  margin-top: 50px;
  text-align: center;
}

.slider-container {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 20px 0;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* For Safari compatibility */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.slider-wrapper {
  display: flex;
  overflow: hidden;
  gap: 10px;
  max-width: 100%;
}

.slider-wrapper img {
  max-width: 200px;
  margin: 0 10px;
  border-radius: 5px;
  transition: transform 0.2s ease;
}

.slider-wrapper img:hover {
  transform: scale(1.05);
}

.slider-button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.slider-button.prev {
  left: 10px;
}

.slider-button.next {
  right: 10px;
}

.slider-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
