body {
    font-family: 'Overpass', sans-serif;
    font-weight: 400; 
    background-color: hsl(216, 12%, 8%);
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    min-height: 100vh;
    margin: 0;
    
}

h1 {
   
        font-weight: 700;
        color: white;
        margin-bottom: 20px;
        text-align: center;
}

.box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    width: 20%;
    background-color: hsl(213, 19%, 18%);
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px black;
    flex-wrap: wrap;
}

#numbers-container {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-between;
    width: 100%;
    color: black;
}

#star-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: hsl(217, 19%, 24%);
    display: flex; 
    justify-content: center;
    align-items: center; 
}


#numbers-container button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: hsl(217, 19%, 24%);
    color:  hsl(217, 12%, 63%);
    cursor: pointer;
    border: none;
    align-self: space-between;
    transition: background-color 0.3s; 
}



#submit-btn {
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: hsl(25, 97%, 53%);
    cursor: pointer;
    color: white;
    padding: 10px;
    font-size: 1rem;
    margin-top: 20px;
}



.hidden {
    display: none;
}

#you-selected {
    color: hsl(25, 97%, 53%);
    background-color: hsl(217, 19%, 24%);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
}

#thank-p{
    font-size: 15px;
    color:  hsl(217, 12%, 63%)
}

#thank-icon{
    padding: 5px;
}

