/* Loading screen styling */
#loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222831;
}

#atm-gif {
    max-width: 300px; /* Adjust size as needed */
}

.hidden {
    display: none; /* Hides elements */
}

/* ATM section styling */
#atm {
    background-color: #222831;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0 4px 10px black;
    text-align: center;
    color: white;
}
