

#loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222831;
}

#atm-gif {
    max-width: 300px; 
}

* {
    box-sizing: border-box; 
}

body {
    font-family: fantasy;
    margin: 20px;
    background-color: #393E46;
}

#atm {
    background-color: #222831;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px; 
    margin: 0 auto;
    box-shadow: 0 4px 10px black;
}

#atm h2, #atm h3 {
    text-align: center;
    font-family: fantasy;
    background-color: antiquewhite;
    
}

label {
    display: block;
    margin: 10px 0; 
    width: 100%; 
    text-align: left; 
    color: rgb(99, 96, 96);
    font-family:'Courier New', Courier, monospace;
    
}

#pin-message {
    color: rgb(235, 23, 23); 
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
    text-align: center; 
}

input[type="text"], input[type="password"], input[type="number"] {
    width: 100%; 
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

#withdraw-btn {
    background-color: #DA8359; 
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

#deposit-btn {
    background-color: #A5B68D; 
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

#exit-btn {
    display: inline-block;
    background-color:  #393E46;
    color:#ff0000;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

button {
    width: 100%; 
    padding: 10px;
    margin-bottom: 10px;
    background-color: #00ADB5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hidden {
    display: none;
}


#transaction-message {
    color: rgb(21, 0, 255);
    text-align: center;
}

.big-input {
    width: 100%; 
    padding: 15px;
    font-size: 18px;
    margin-bottom: 10px;
}

.big-button {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.big-button:hover {
    background-color: #0046a1; 
}
